<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.linkztop.fastbusinesssystem.mapper.UserMapper">

    <sql id="userAllField">
        id,
        username,
        password,
        nick_name as "nickName",
        enabled,
        accountNonExpired,
        accountNonLocked,
        credentialsNonExpired,
        registerTime,
        lastLoginTime

    </sql>

    <select id="loadUserByUsername" resultType="user">
        select <include refid="userAllField"></include> from sys_users
        where username = #{username}
    </select>
</mapper>